.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: #211ac8;
    color: white;
    padding: 0 25px;
}
.header__logo{
    height: 30px;
}