.sidebar{
    height: max-content;
    background-color: #f7f7f7;
    border-radius: 5px;
    padding-bottom: 8px;
    max-height: calc(100vh - 150px);
    overflow-y: scroll;
}
.sidebar .sidebar__section--head{
    padding: 10px 15px;
    margin: 0;
    border-left: 5px solid #6ae6f4;
    margin-bottom: 8px;
}
.sidebar__section--body{
    max-height: 160px;
    overflow-y: scroll;
}
.sidebar .sidebar__section--element{
    border-radius: 5px; 
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    padding: 4px 15px;
    margin-bottom: 5px;
    cursor: pointer;
}
.sidebar .sidebar__section--element .sidebar__section--para {
    margin: 0;
    display: flex;
    align-items: center;
    color: #444444;
    font-size: 14px;
    overflow: hidden;
}
.sidebar .sidebar__section--para .section-icon{
    font-size: 14px !important;
    margin-right: 5px;
}